{% for (stanza_name, stanza) in pgbackrest_conf_cluster_stanzas.items() %}
[{{ stanza_name }}]
{% for opt in stanza %}
{{ opt }}={{ stanza[opt] }}
{% endfor %}
{% endfor %}
[global]
{% for (key, option) in pgbackrest_conf_global.items() %}
{{ key }}={{ option }}
{% endfor %}
